# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

/public/system
/public/system/*
/public/pictures
/public/pictures/*
/public/assets
/public/assets/*