<div class="text-ceter categories">
  <h1 class="grid-title">Banners</h1>
  <div class="grid">
    <% @banner.each do |banner| %>
      <div class="grid-item">
        <% if banner.pictures.length != 0 %>
          <% banner.pictures.limit(1).each do |picture| %>
            <%= link_to image_tag(picture.image.url(:thumb)), banner, 'data-turbolinks' => false %>
          <% end %>
        <% else %>
          <%= link_to banner.name, banner %>
        <% end %>
        <span class="grid-caption"><%= banner.name %></span>
      </div>
    <% end %>
  </div>

  <br><br>
  <%= link_to "New Banner", new_banner_path, class: "custom-button" %>
</div>