/*
*= require_tree .
*= require_self
*/

/*
	Colours
	#0EAFC1 - blue
	#3E4348 - dark grey
*/

/* General */

body, html {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-family: Helvetica Neue;
	-webkit-font-smoothing: subpixel-antialiased;
	height: 100%;
}

a {
	color: #AAA;
	text-decoration: none;
	transition: all 0.5s;
}

a:hover {
	color: #888;
	transition: all 0.5s;
}

.wrapper {
	min-height: calc(100vh - 200px);
}

.notice, .alert {
	position: absolute;
	top: 0;
	left: 20px;
}

.notice {
	color: green;
}

.alert {
	color: red;
}

.center {
	display: table; 
	margin: 0 auto;
}