.image-gallery.banner {
	width: 100%;
	margin-top: -50px;
	height: 100%;
	padding: 15px 0;
}

.image-gallery.banner-show {
	width: 100%;
	margin-top: 0;
}

.image-gallery.banner img {
	height: auto;
	max-height: 800px
}

.banner-slider {
	width: 100% !important;
	max-width: 100% !important;
	object-fit: cover;
	height: 100%;
}

#previous, #next {
	height: 100%;
	z-index: 2;
}

.banner-image-gallery-links {
	position: relative;
	top: -50px;
	left: 0; 
  right: 0; 
  margin: auto;
  height: 40px;
  cursor: default;
  z-index: 3;
}

.banner-image-gallery-links a {
	background: #fff;
	opacity: 0.5;
	color: #fff;
	border-radius: 50%;
	height: 11px !important;
	width: 11px;
	font-size: 12px !important;
	margin: 10px 3px 15px 3px !important;
}
