/*.checkout-shipping, .checkout-billing {
  display: none;
}*/

.shipping-radio-buttons input, .shipping-radio-buttons label {
  display: inline-block;
  margin: 0 0 20px 0;
}

.shipping-radio-buttons {
  margin: -5px 0 10px 0;
}

.shipping-radio-buttons label {
  top: 2px;
  position: relative;
}

.checkout .checkout-header p {
  cursor: pointer;
}

.checkout .checkout-header {
  border-bottom: 1px solid #DDD;
  margin: 20px 0;
}

/*
.checkout .checkout-section {
  border: 1px solid #DDD;
  padding: 5%;
  margin: 10px 0;
}

.checkout .checkout-section input {
  width: calc(100% - 10px) !important;
}

.checkout-personal-header, .checkout-shipping-header, .checkout-billing-header {
  display: block;
  height: 60px;
  width: 100%;
  background: #DDD;
  margin: 20px 0;
}

.checkout-personal-header p, .checkout-shipping-header p, .checkout-billing-header p {
  text-align: center;
  color: #444;
  line-height: 60px;
}

.next-button {
  font-size: 14px;
  padding: 10px 15px;
}*/