/* Forms */

form {
	min-width: 400px;
}

input:not([type='submit']):not([type='file']):not([type='checkbox']) , textarea {
	border: 1px solid #ddd;
	border-radius: 2px;
	display: block;
	font-size: 14px;
	height: 30px;
	margin: 20px 2px 10px 2px;
	padding-left: 5px;
	position: relative;
	top: -15px;
	vertical-align: middle;
	width: 100%;
	transition: .3s;
}

textarea {
	height: 100px;
}

input:focus, textarea:focus {
	box-shadow: 0 0 6px rgba(81, 203, 238, 1);
	outline: none;
	transition: .3s;
}

input[type='file'] {
	display: block;
	border: none;
	margin: 10px 0 30px 0;
}

input[type='checkbox'] {
	margin: 0 10px 20px 0;
}

abbr[title], abbr[data-original-title] {
	cursor: default !important;
	border: none !important;
}

input[type='submit'], button, .custom-button {
	background-color: #0EAFC1;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	margin: 20px 0;
	padding: 10px 20px;
	display: block;
	transition: all 0.3s;
}

.custom-button {
	color: #fff !important;
}

input[type='submit']:hover, button:hover, .custom-button:hover {
	opacity: 0.8;
	transition: all 0.3s;
	color: white;
}

input[readonly='readonly'] {
	cursor: not-allowed;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

.custom-button {
	display: inline-block;
}

select {
	font-size: 14px;
	width: 100%;
	max-width: 60px;
}

abbr[title="required"] {
	color: red;
	text-decoration: none;
}

span.hint, span.error {
	display: block;
	margin: -15px 0 30px 5px;
	font-size: 14px;
	font-style: italic;
}

span.error {
	color: red;
}

div.error_notification {
	margin: 30px 0;
	font-size: 18px;
	color: red;
}

.devise-links {
	line-height: 1.5em;
}

/* Contact form */

.contact-form {
	padding: 0 5%;
	margin: 0 auto;
	max-width: 800px;
}

.contact-form textarea {
	margin-top: 20px;
}