.grid-title {
  display: inline-block;
  padding: 0 2px;
  border-bottom: 1px solid #888;
  font-weight: 200;
  text-transform: lowercase;
  font-variant: small-caps;
  margin-bottom: 20px;
  color: #888;
  text-align: center;
  display: table;
  margin: 20px auto;
}

.grid {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.grid-item img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  padding: 5px;
  margin-top: 10px;
  line-height: 150px;
}

.grid-item span {
  position: relative;
  margin-top: -308px;
  margin-left: 5px;
  font-size: 24px;
  font-weight: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  width: 300px;
  height: 300px;
  background: white;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}

.grid-item a:hover + span {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.grid-caption {
  padding: 0;
  text-align: center;
  font-weight: 200;
}