/* Media Queries */

@media only screen and (max-width: 695px) {
  .product {
		display: flex;
	  flex-wrap: wrap;
	  flex-direction: column-reverse;
	}

	.image-gallery, .product-details {
	  padding: 15px 5% ;
	}

	.footer {
		text-align: center;
		-webkit-flex-direction: column;
	  flex-direction: column;
	  height: 630px;
	}

	.mob-menu {
		display: block !important;
	}

	.mob-nav {
		margin-bottom: 50px !important;
		display: table !important;
	}

	.logo, .nav {
		display: none;
	}

	/* Cart */
	.cart-row .form {
		display: block !important;
	}

	.cart-row .content {
		height: 245px;
	}

	.cart-row .cart-product-details {
		display: block !important;
		margin-top: -45px !important;
		margin-left: 90px !important;
	}

	.cart-row .cart-product-details h3 {
		margin-bottom: -20px;
	}

	.cart-row .product-image {
		top: 50px;
		position: relative;
	}

	.cart-row .form .right {
		top: 30px;
    position: relative !important;
    left: 85px;
	}

	.cart-row .form .right .update-quantity {
		display: block;
		margin-top: 20px;
		margin-left: 0;
	}
}