/* Mobile Navigation */

.mob-logo {
  display: none;
  text-align: right;
  top: 30px;
  margin-bottom: 100px;
  margin-right: 10%;
  position: relative;
}

.mob-logo img {
  width: 200px;
}

.mob-nav {
  display: none;
  border-radius: 1px;
  float: right;
  height: 39px;
  position: fixed;
  left: 5%;
  top: 25px;
  user-select: none;
  width: 30px;
  z-index: 9;
  -webkit-user-select: none;
}

.mob-nav input[type=checkbox] {
  display: none;
}

.mob-nav label {
  cursor: pointer;
  height: 35px;
  padding: 10px;
  position: absolute;
  top: 10px;
  transition: all .7s;
  z-index: 100;
}

.mob-nav .bar-div {
  background-color: #FDBF2D;
  box-sizing: border-box;
  height: 4px;
  transition: all .3s;
  width: 30px;
  -webkit-transition: all .3s;
}

.horizontal, .diagonal.two {
  margin-top: 5px;
}

.mob-nav input[type=checkbox]:checked ~ .bar-label > .horizontal {
  opacity: 0;
}

.mob-nav input[type=checkbox]:checked ~ .bar-label > .diagonal.one {
  margin-top: 8px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.mob-nav input[type=checkbox]:checked ~ .bar-label > .diagonal.two {
  margin-top: -12px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.mob-nav input[type=checkbox]:checked ~ label {
  margin-left: calc(70vw - 80px);
  transform: rotate(-90deg);
  transition: all .5s;
}

.mob-nav input[type=checkbox]:checked ~ .side-bar {
  opacity: 0.99;
  transition: all .5s;
  left: 0;
  z-index: 99;
}

.side-bar {
  background-color: #FCFCFC;
  height: 100%;
  opacity: 0;
  padding: 50px 7.5%;
  position: fixed;
  left: -300px;
  top: 0;
  transition: all .5s;
  width: 70vw;
  z-index: -1;
}

.side-bar a {
  display: block;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
}

.side-bar b a {
  font-weight: 500;
}

.side-bar hr {
  background-color: #FDBF2D;
  border: none;
  height: 1px;
  margin: 20px 0;
}

/* Navigation */

.nav {
  border-bottom: 1px solid #EAEAEA;
  margin: 20px 0;
}

.logo {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-left: 60px;
  top: 60px;
}

.logo img {
  width: 250px;
}

.nav-links {
  position: relative;
  top: 15px;
  text-align: left;
  display: inline-block;
  margin-bottom: 80px;
  margin-left: 350px;
  width: calc(100% - 350px);
}

.nav-links > li {
  display: inline-block;
  height: 50px;
}

.nav-links a {
  margin: 0 1.1em;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 18px;
  letter-spacing: 1px;
  color: #888;
  display: block;
  height: 100%;
}

.nav-links > li:hover > a {
  color: #000;
}

.nav-links > li:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 10px 0;
  margin-top: -30px;
  width: 160px;
  z-index: 99;
  background: #FFF;
}

.dropdown-content > li {
  display: block;
  line-height: 25px;
}

.dropdown-content > li:hover a {
  color: #000;
}

.word-divider {
  color: #666;
  margin: 0 20px;
}

.account-link {
  float: right;
  margin-right: 80px;
}

/* Cart Text And Icon */

.cart-text {
  position: absolute;
  top: 20px;
  right: 100px;
  transition: all 0.3s;
}

.cart-text a {
  font-size: 16px !important;
  color: #888;
}

.cart-text:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

.cart-text img, .cart-text-mobile img {
  width: 20px;
  position: relative;
  top: 3px;
  right: 5px;
}

.cart-text-mobile img {
  width: 25px;
  top: 4px;
}

.cart-text-mobile {
  position: fixed;
  top: 12px;
  right: 30px;
  z-index: 9;
  font-size: 18px;
  margin-top: .1875rem;
}

.cart-text-mobile a:hover {
  color: #888;
}
