/* Product Show Page */

.product {
	display: flex;
  flex-wrap: wrap;
}

.product .image-gallery, .product-details {
	flex: 1 320px;
  min-width: 0;
  padding: 15px 2%;
}

.image-gallery {
	position: relative;
}

.image-gallery div {
	margin-top: 15px;
}

.slider {
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	width: 90%;
	max-width: 750px;
	margin: 0 auto 10% auto;
}

#previous, #next {
	margin: 0 auto;
	position: relative;
	width: 50%;
}

#previous {
	cursor: url(left.png), auto;
	float: left;
}

#next {
	cursor: url(right.png), auto;
	float: right;
}

.image-gallery-links {
	text-align: center;
}

.image-gallery-links a {
	color: #000;
	display: inline-block;
	font-size: 16px;
	margin: 60px 0 15px 0;
	text-decoration: none;
	padding: 5px;
}

.product-details h2 {
	font-weight: 400;
}

.product-details h3 {
	font-weight: 200;
}

.product-details p {
	font-weight: 200;
}

.product-details hr {
	border: 0;
  height: 1px;
  background: #DDD;
  margin: 30px 0;
  width: 80%;
}

.product-details .on-sale {
	background: red;
	padding: 10px 20px;
	float: right;
	color: white;
	display: inline-block;
	margin-top: 15px;
	margin-right: 20%;
	text-transform: uppercase;
}

.product-details .old-price {
	text-decoration: line-through;
	font-size: 16px;
	margin-right: 10px;
	font-style: italic;
}

.product-links {
	margin: 40px;
	display: inline-block;
}

.product-links a {
	display: block;
	line-height: 1.5em;
}

/* New Product Page */

#new-product-form select {
	max-width: 100%;
}

/* Sort */

.product-sort {
	display: inline-block;
  height: 50px;
  width: 180px;
}

.product-sort a {
  margin: 0 1em;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 18px;
  letter-spacing: 1px;
  color: #888;
  display: block;
  height: 100%;
}

.product-sort:hover > a {
  color: #000;
}

.product-sort:hover .dropdown-content {
  display: block;
}

.product-sort .dropdown-content {
  display: none;
  position: absolute;
  padding: 10px 0;
  margin-top: -30px;
  width: 180px;
  z-index: 99;
  background: #FFF;
  text-align: left;
}

.product-sort .dropdown-content > li {
  display: block;
  line-height: 25px;
}

.product-sort .dropdown-content > li:hover a {
  color: #000;
}