<div class="products">
	<div class="products-grid">
		<% @product.each do |product| %>
			<div class="product-item">
				<% product.pictures.limit(1).each do |picture| %>
					<%= link_to image_tag(picture.image.url(:thumb)), product %>
				<% end %>
				<span>View</span>
				<p id="product-caption"><%= product.name %> - <%= product.price %></p>
			</div>
		<% end %>
	</div>
</div>